

    <tr>
      <td><%= comment.commenter %></td>
      <td><%= comment.body %></td>

      <td> <%= link_to 'Destroy Comment', [comment.article, comment], :class => 'btn btn-danger',
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
