<div class = 'container-fluid'>
  <h1>Hello Rails</h1>
  <%= link_to 'Blog App', {:controller => 'articles'}, :class => 'btn btn-dark ms-2' %>
</div>
<!--<%= link_to 'Blog App', {controller: 'articles'}, {:class =>"btn-dark"}%>
